# LIMPIEZA DE DATOS, VIDEOJUEGOS ... EVALUACIÓN

In [2]:
import pandas as pd

In [3]:
#Leer archivo 

df_videojuegos = pd.read_csv('dataset_videojuegos.csv')
df_videojuegos.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [4]:
#Ver variables 
df_videojuegos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB

In [5]:
#Saber si hay nulos
print(df_videojuegos.isnull().sum())

name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [6]:
#Eliminar valores nulos encontrados anteriormente
df_videojuegos.dropna(subset=["summary"], inplace=True)

In [7]:
#Saber si hay nulos otra vez
print(df_videojuegos.isnull().sum())

name            0
platform        0
release_date    0
summary         0
meta_score      0
user_review     0
dtype: int64

In [8]:
# Revisar si hay filas duplicadas
print("El número de filas duplicadsa es: ")
duplicadas= df_videojuegos.duplicated().sum()
duplicadas

El número de filas duplicadsa es:

0

In [9]:
df_videojuegos

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9
...,...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0

In [11]:
#Ver si hay variaciones del mismo nombre en alguno, pero yo veo todos diferentes
df_videojuegos["platform"].value_counts()

platform
PC                  4829
PlayStation 4       2039
Xbox 360            1640
PlayStation 2       1412
Switch              1375
PlayStation 3       1255
Xbox One            1166
Xbox                 789
DS                   718
Wii                  654
PSP                  509
GameCube             448
Game Boy Advance     433
3DS                  394
PlayStation Vita     254
PlayStation          186
Wii U                183
Dreamcast            125
PlayStation 5        124
Xbox Series X         77
Nintendo 64           71
Stadia                 5
Name: count, dtype: int64

In [42]:
#Revisar los porcentajes
print(df_videojuegos["meta_score"].describe())

count    17341.000000
mean        71.200738
std         12.224246
min         20.000000
25%         64.000000
50%         73.000000
75%         80.000000
max         99.000000
Name: meta_score, dtype: float64

In [44]:
#Revisar los porcentajes
print(df_videojuegos["user_review"].describe())

count    17341.000000
mean         6.991269
std          1.351931
min          0.200000
25%          6.300000
50%          7.300000
75%          7.900000
max          9.700000
Name: user_review, dtype: float64

In [31]:
#Que su rango sea de 1-10
df_videojuegos = df_videojuegos[(df_videojuegos["user_review"] >= 0) & (df_videojuegos["user_review"] <= 10)]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [33]:
#Pues ya que dió el error de arriba toca convertir los datos de 'str' a 'NaN'
df_videojuegos["user_review"] = pd.to_numeric(df_videojuegos["user_review"], errors="coerce")

In [35]:
#Ahora si hademos lo de arriba
#Que su rango sea de 1-10
df_videojuegos = df_videojuegos[(df_videojuegos["user_review"] >= 0) & (df_videojuegos["user_review"] <= 10)]

In [39]:
print(df_videojuegos["user_review"].describe())

count    17341.000000
mean         6.991269
std          1.351931
min          0.200000
25%          6.300000
50%          7.300000
75%          7.900000
max          9.700000
Name: user_review, dtype: float64

In [ ]:
#Ya no se me ocurre que mas hacerle, yo creo que así lo voy a dejar :)

In [49]:
#Guardar el dataset con otro nombre y limpiooooo
df_videojuegos.to_csv('dataset_videojuegos_clean.csv')