# <font color= #590202> Limpieza de Datos - Netflix Dataset

#### Virginia López Vega

In [44]:
#Importar 
import pandas as pd

In [46]:
#Leer el archivo
df= pd.read_csv("netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [48]:
# Mostrar información general del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

## Convertir formatos de datos

In [50]:
# Convertir 'date_added' a formato datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Verificar la conversión
print("\nTipo de dato de 'date_added' después de conversión:")
print(df['date_added'].dtype)

Tipo de dato de 'date_added' después de conversión:
datetime64[ns]

In [52]:
# Separar 'duration' en 'duration_value' y 'duration_unit'
df[['duration_value', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')

# Verificar las nuevas columnas
print("\nPrimeras filas después de dividir 'duration':")
print(df[['duration', 'duration_value', 'duration_unit']].head())

Primeras filas después de dividir 'duration':
    duration duration_value duration_unit
0     90 min             90           min
1  2 Seasons              2       Seasons
2   1 Season              1        Season
3   1 Season              1        Season
4  2 Seasons              2       Seasons

In [54]:
# Convertir 'duration_value' a numérico
df['duration_value'] = pd.to_numeric(df['duration_value'], errors='coerce')

# Verificar después de la conversión
print("\nTipo de dato de 'duration_value' después de conversión:")
print(df['duration_value'].dtype)

Tipo de dato de 'duration_value' después de conversión:
float64

## Eliminar duplicados

In [60]:
# Eliminar duplicados
df.drop_duplicates(inplace=True)

# Contar registros después de eliminar duplicados
print("\nCantidad de registros después de eliminar duplicados:", len(df))

Cantidad de registros después de eliminar duplicados: 8807

In [67]:
#Guardar el dataset con otro nombre
df.to_csv('dataset_netflix_clean.csv')